---
import { db } from "astro:db";
import { Prestamo } from "astro:db";
import { eq } from "astro:db";
import { Cliente } from "astro:db";
import Table from "../../../../../components/tablaComponentes/Table";
let prestamos = [];
let arrayBody = [];
const user=Astro.locals.user
const columnas = [
  {
    label: "cliente",
    id: 1,
    selector:'cliente',
  },

  {
    label: "monto cuota",
    id: 3,
    selector: 'montoCuota',
  },
  {
    label: "N° cuotas",
    id: 4,
    selector: 'nCuotas',
  },
  {
    label: "total",
    id: 5,
    selector: 'total',
  },
  {
    label: "fecha inicio",
    id: 6,
    selector: 'fechaInicio',
  },
  {
    label: "tasa interes",
    id: 7,
    selector: 'tasaInteres',
  },
  {
    label: "estado",
    id:8 ,
    selector: 'estado'
  },
];
try {
  prestamos = await db
    .select()
    .from(Prestamo)
    .where(eq(Prestamo.usuarioId, user.id))
    .innerJoin(Cliente, eq(Prestamo.clienteId, Cliente.id));

  arrayBody = prestamos.map((element) => {
    return {
      id:element?.Prestamo.id,
      cliente: element?.Cliente.nombre + ' '+ element?.Cliente.apellido,
      montoCuota: `$ ${element?.Prestamo?.montoCuota.toLocaleString()}`,
      nCuotas: element?.Prestamo.nCuotas,
      montoTotal:`$ ${ element?.Prestamo.montoTotal.toLocaleString()}`,
      fechaInicio: element?.Prestamo.fechaInicio.toLocaleString(),
      tasaInteres: `${element?.Prestamo.tasaInteres}%`,
      estado:element?.Prestamo.estado
    };
  });
} catch (error) {
  console.log(error);
}

// enlace de la tabla al que me redirige con el id
const enlaceFila=`/dashboard/prestamos/listar/`
---

<div class="w-full overflow-x-auto">
  <Table columnas={columnas} arrayBody={arrayBody} enlaceFila={enlaceFila} client:load/>
</div>
