---
import ContenedorStats from "../../../../components/organismos/ContenedorStats.astro";
import MainDash from "../../../../components/organismos/MainDash.astro";
import Layoutdash from "../../layouts/Layoutdash.astro";
import BotoneraOpcionesLista from "../prestamos/BotoneraOpcionesLista.astro";
import ConfeccionTablaCuota from "../tablas/ConfeccionTablaCuota.astro";


const { idPrestamo } = Astro.params;
const infoData={
  prestamo:{},
  cliente:{},
  cuotas:[]
}

export const formatHora = (date) => {
  const fecha = new Date(date);
  const año = fecha.getFullYear();
  const mes = fecha.getMonth() + 1; // getMonth() devuelve un índice basado en 0, por lo que se suma 1
  const dia = fecha.getDate();
  return (
    (dia < 10 ? "0" + dia : dia)
    +"-" +
    (mes < 10 ? "0" + mes : mes) +
    "-" +
    año 
  );
};

try {
  const res = await fetch(`${Astro.url.origin}/api/prestamos/${idPrestamo}`);
  const data = await res.json();
  // console.log(data)
  
  infoData.prestamo=data.data.prestamo.prestamo
  infoData.cliente=data.data.prestamo.cliente
  infoData.cuotas=data.data.cuotas
} catch (error) {
  console.log(error);
}

---

<Layoutdash title={infoData?.cliente?.nombre + " " + infoData?.cliente?.apellido + " prestamo"}>
  <MainDash>
    <div
      class="flex flex-col items-start bg-0 justify-normal w-full md:px-5 py-2 relative"
    >
      <ContenedorStats
        prestamo={infoData?.prestamo}
        cliente={infoData?.cliente}
        fechaInicio={formatHora(infoData?.prestamo?.fechaInicio)}
        fechaFin={formatHora(infoData?.prestamo?.fechaFin)}
      />
      <div class="w-full bg- flex flex-col mt-4 items-center justify-normal">
        <BotoneraOpcionesLista infoData={infoData} idPrestamo={idPrestamo}/>
        <div class="md:w-2/3 mb-5">
          <ConfeccionTablaCuota infoData={infoData}/>
        </div>
      </div>
    </div>
  </MainDash>
</Layoutdash>
