---
import Button3 from "../../../../components/atomos/Button3";
import ButtonPdf from "../../../../components/atomos/ButtonPdf";


const {idPrestamo,infoData}=Astro.props

const title= `Cliente Rama Quiroga - Detalle de Prestamo`
const subtitle= `ID del prestamos : ${idPrestamo}`
console.log('este es el info data de la botonera >',infoData)

const infoCabecera={
  usuario:{
    nombre:"",
    dni:33882244,
    direccion:'El Ramaaaa'
  },
  prestamo:infoData.prestamo,
  cliente:infoData.cliente
}
---
<div class="flex items-center w- text-xs justify-evenly gap-5 py-3">
    <Button3>email</Button3>
    <Button3>whatsapp</Button3>
    <ButtonPdf idPrestamo={idPrestamo} title={title} infoCabecera={infoCabecera} subtitle={subtitle} client:load>pdf</ButtonPdf>
  </div>