---
import { db,eq,Cliente,Cuota } from "astro:db";
import TablaCuotaSelect from "./TablaCuotaSelect";

const { cuotasSeleccionadas } = Astro.props;
const { id } = Astro.locals.user;
// console.log(id)
let prestamos = [];
let arrayBody = [];
let usuario = [];
let columnas = [];
try {
  // const clientesDB = await db.select({id: Cliente.id,nombre: Cliente?.nombre,apellido: Cliente?.apellido,}).from(Cliente).where(eq(Cliente.usuarioId, id))
const clientesss=await db.select().from(Cliente)
  arrayBody = cuotasSeleccionadas.map((element, i) => {

    const fecha = new Date(element?.cuota?.fechaVencimiento);
    return {
      href: `/dashboard/prestamos/${element?.cuota?.prestamoId}/cuota/${element.cuota?.id}`,
      numero: i + 1,
      cliente: `${element?.cliente?.nombre} ${element?.cliente?.apellido}`,
      id: element?.cuota?.id,
      monto: `$ ${element?.cuota?.monto.toLocaleString()}`,
      numeroCuota: element?.cuota?.numeroCuota,
      prestamoId: element.cuota?.prestamoId,
      fechaVencimiento: fecha,
    };
  });
} catch (error) {
  console.log(error);
}
---

<div class="w-full overflow-x-auto my-5">
  <TablaCuotaSelect arrayBody={arrayBody} client:load />
</div>
