---
import db from "@/db";
import TablaPrestamosCliente from "./TablaPrestamosCliente";
import {prestamos as Prestamo} from '@/db/schema/prestamos.sql'
import { eq } from "drizzle-orm";
const {id}=Astro.locals.user
const {idCliente}=Astro.params
let prestamos = [];
let arrayBody = [];
let usuario=[]
let columnas=[]
try {

  prestamos = await db
    .select()
    .from(Prestamo)
    .where(eq(Prestamo.clienteId, idCliente))
  arrayBody = prestamos.map((element) => {
    return {
      href:`/dashboard/prestamos/${element.id}`,
      id:element?.id,
      fechaInicio: element?.fechaInicio.toLocaleDateString(),
      fechaVencimiento: element?.fechaFin,
      montoCuota: `$ ${element?.montoCuota.toLocaleString()}`,
      tasaInteres: `${element?.tasaInteres}%`,
      nCuotas: element?.nCuotas,
      montoTotal:`$ ${ element?.montoTotal.toLocaleString()}`,
      estado:element?.estado
    };
  });
} catch (error) {
  console.log(error);
}

---

<div class="w-full overflow-x-auto my-5">
    <TablaPrestamosCliente  arrayBody={arrayBody}  client:load/>
  </div>