---

const {data}=Astro.props

const fechaActual=new Date()
---

<div
          class="flex flex-col items-center justify-normal py-3 px-5 w-full rounded border shadow-md"
        >
          <div class="flex items-center py-5 justify-between w-full border-b">
            <h2 class="text-xl font-bold">RamiroQ</h2>
            <span class="text- font-">{fechaActual.toDateString()}</span>
          </div>
          <div class="flex items-center py-3 justify-between w-full border-b">
    <p class="text-lg font-semibold capitalize">{data.Cliente.nombre+' '+ data.Cliente.apellido}</p>
              <p class="text-sm italic">{data.Cliente.direccion}</p>
              <p class="text-sm italic">{data.Cliente.ciudad+' | '+ data.Cliente.departamento}</p>
          </div>
          <div class="flex items-center py-5 justify-between w-full border-b">
            <p class="text-sm font-semibold w-1/2 capitalize">
              pago a cuenta de prestamos id <span class="text-xs font-thin">{data?.Prestamo?.id}</span>
            </p>
          <p class="text- font-">Cuota <span class="font-bold text-lg">{data?.Cuota?.numeroCuota}</span> de <span class="font-bold text-lg">{data?.Prestamo?.nCuotas}</span></p>
          </div>
          <div class="flex items-center justify-between w-full py-4 border-b">
            <p class="text-lg font-semibold w-1/2 capitalize border-r-2">
              pago
            </p>
            <p class="text-lg font-black capitalize">${data?.Cuota?.monto.toLocaleString()}</p>
          </div>
        </div>