---
import ArticleDash from "../../../components/atomos/ArticleDash.astro";
import Stat from "../../../components/atomos/Stat.astro";
import StatsDePrestamos from "../../../components/organismos/StatsDePrestamos.astro";
import StatsDeMontos from "../../../components/organismos/StatsDeMontos.astro";
import InputDate from "../../../components/atomos/InputDate";
import { db } from "astro:db";
import { Prestamo } from "astro:db";
import { eq } from "astro:db";
import { Pago } from "astro:db";
import { Cuota } from "astro:db";
import RangoFechaCuotas from "../../../components/organismos/RangoFechaCuotas";

const todayValue = new Date().toLocaleDateString();

const { id } = Astro.locals.user;
let prestamos,
  activos,
  capital,
  pagosCobrados,
  cuotasInpagas,
  totalConIntereses;
try {
  const prestamosDB = await db
    .select()
    .from(Prestamo)
    .where(eq(Prestamo.usuarioId, id));
  const pagosDB = await db.select().from(Pago).where(eq(Pago.usuarioId, id));
  const cuotasDB = await db.select().from(Cuota).where(eq(Cuota.usuarioId, id));
  cuotasInpagas = cuotasDB
    .filter((element) => element.pagada == false)
    .reduce((acc, currrent) => acc + currrent.monto, 0);
  totalConIntereses = prestamosDB.reduce(
    (acc, curent) => acc + curent.montoTotal,
    0
  );
  // console.log("pagos ->", prestamosDB);
  pagosCobrados = pagosDB.reduce((acc, current) => acc + current.monto, 0);
  capital = prestamosDB.reduce((acc, current) => acc + current.capital, 0);
  prestamos = prestamosDB;
  activos = prestamos.filter((element) => element.estado == "activo");
} catch (error) {
  console.log(error);
}
---

<ArticleDash bg="bg-primary-300">
  <div class="flex flex-col items-start gap-3 h-full p-3">
    <div class="flex items-start justify-center w-full">
      <i class="mr-4 drop-shadow-md">
        <svg
          fill="#2E273F"
          height="40px"
          width="40px"
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 512 512"
          xml:space="preserve"
          ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
            <g>
              <g>
                <path
                  d="M227.737,208.713h-7.066v-22.828h17.936c4.503,0,8.153-3.65,8.153-8.153s-3.65-8.153-8.153-8.153h-17.936v-9.24 c0-4.503-3.65-8.153-8.153-8.153s-8.153,3.65-8.153,8.153v9.24H197.3c-10.489,0-19.023,8.534-19.023,19.023v17.393 c0,10.489,8.534,19.023,19.023,19.023h7.066v22.828h-17.936c-4.503,0-8.153,3.65-8.153,8.153s3.65,8.153,8.153,8.153h17.936v9.24 c0,4.503,3.65,8.153,8.153,8.153s8.153-3.65,8.153-8.153v-9.24h7.066c10.489,0,19.023-8.534,19.023-19.023v-17.393 C246.76,217.248,238.226,208.713,227.737,208.713z M204.365,208.713H197.3c-1.498,0-2.718-1.22-2.718-2.718v-17.393 c0-1.498,1.22-2.718,2.718-2.718h7.066V208.713z M230.454,245.13c0,1.498-1.22,2.718-2.718,2.718h-7.066v-22.828h7.066 c1.498,0,2.718,1.22,2.718,2.718V245.13z"
                ></path>
              </g>
            </g>
            <g>
              <g>
                <path
                  d="M509.612,216.579l-36.896-36.896c-3.183-3.185-8.345-3.184-11.529,0l-36.151,36.151V8.153c0-4.503-3.65-8.153-8.153-8.153 H8.153C3.65,0,0,3.65,0,8.153v395.686c0,4.503,3.65,8.153,8.153,8.153c4.503,0,8.153-3.65,8.153-8.153V16.306h392.425V232.14 l-59.189,59.189h-20.166V142.403h26.633c4.503,0,8.153-3.65,8.153-8.153v-26.089c0-4.503-3.65-8.153-8.153-8.153h-32.401 L216.913,31.723c-2.68-1.714-6.11-1.714-8.79,0l-106.695,68.285H69.028c-4.503,0-8.153,3.65-8.153,8.153v26.089 c0,4.503,3.65,8.153,8.153,8.153H95.66v148.926H69.028c-4.503,0-8.153,3.65-8.153,8.153v26.089c0,4.503,3.65,8.153,8.153,8.153 h238.119l-60.928,60.928c-0.018,0.018-0.035,0.039-0.053,0.059c-0.965,0.899-1.726,2.045-2.173,3.385l-18.447,55.344 c-2.083,6.247,4.06,12.396,10.313,10.313l55.344-18.448c1.346-0.449,2.496-1.215,3.396-2.187c0.033-0.033,0.07-0.061,0.101-0.094 l49.902-50.867c3.152-3.214,3.104-8.377-0.111-11.529c-3.214-3.152-8.376-3.102-11.529,0.111l-44.137,44.992l-25.311-25.311 l172.436-172.436l25.366,25.366l-92.548,92.548c-3.184,3.184-3.184,8.346,0,11.529c3.184,3.184,8.346,3.184,11.529,0 l28.434-28.435v88.436h-70.115c-4.503,0-8.153,3.65-8.153,8.153v70.115H16.306v-48.374c0-4.503-3.65-8.153-8.153-8.153 c-4.503,0-8.153,3.65-8.153,8.153v56.527C0,508.35,3.65,512,8.153,512h330.463c2.136,0,4.255-0.877,5.765-2.388l78.268-78.268 c1.511-1.51,2.388-3.629,2.388-5.765V312.685l53.573-53.573l31.003-31.003C512.796,224.926,512.796,219.763,509.612,216.579z M273.914,433.878l-27.744,9.249l9.247-27.745L273.914,433.878z M212.518,48.269l80.842,51.739H131.677L212.518,48.269z M77.181,126.098v-9.783h270.675v9.783H77.181z M313.07,142.403v148.926h-27.176V142.403H313.07z M269.588,142.403v148.926 h-114.14V142.403H269.588z M139.142,142.403v148.926h-27.176V142.403H139.142z M323.453,317.418H77.181v-9.783h256.055 L323.453,317.418z M346.769,484.165v-50.433h50.433L346.769,484.165z M472.845,241.817l-25.366-25.366l19.473-19.472 l25.365,25.365L472.845,241.817z"
                ></path>
              </g>
            </g>
            <g>
              <g>
                <path
                  d="M208.17,404.382H103.813c-4.503,0-8.153,3.65-8.153,8.153s3.65,8.153,8.153,8.153H208.17c4.503,0,8.153-3.65,8.153-8.153 S212.673,404.382,208.17,404.382z"
                ></path>
              </g>
            </g>
            <g>
              <g>
                <path
                  d="M216.866,447.864H103.813c-4.503,0-8.153,3.65-8.153,8.153s3.65,8.153,8.153,8.153h113.053 c4.503,0,8.153-3.65,8.153-8.153S221.369,447.864,216.866,447.864z"
                ></path>
              </g>
            </g>
            <g>
              <g>
                <path
                  d="M208.17,360.9H103.813c-4.503,0-8.153,3.65-8.153,8.153s3.65,8.153,8.153,8.153H208.17c4.503,0,8.153-3.65,8.153-8.153 S212.673,360.9,208.17,360.9z"
                ></path>
              </g>
            </g>
          </g></svg
        >
      </i>
      <h3
        class="w-full border-b border-white font-medium tracking-wide text-lg"
      >
        Prestamos
      </h3>
    </div>

    <StatsDePrestamos activos={activos} prestamos={prestamos} />
  </div>
  <div data-user-id={id} class="flex flex-col items-center gap-3">
   
    <RangoFechaCuotas client:load userId={id}/>

  </div>
</ArticleDash>

<!--  -->

<ArticleDash bg="bg-[#5ABA8A] ">
  <div class="flex flex-col items-start gap-3 h-full p-3">
    <div class="flex items-start justify-center w-full">
      <i class="mr-4 drop-shadow-md">
        <svg
          fill="#2E273F"
          height="40px"
          width="40px"
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 512 512"
          xml:space="preserve"
          ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
            <g>
              <g>
                <path
                  d="M326.437,74.286c-19.984-5.228-40.806-7.878-61.885-7.878c-26.406,0-52.111,4.107-76.499,12.213l-45.442-58.424 c-2.102-2.704-5.692-3.771-8.93-2.662c-3.24,1.112-5.415,4.158-5.415,7.583v83.829c-23.529,16.927-43.384,38.707-56.585,62.051 l-37.971-0.188c-0.049,0.001-0.098,0-0.146,0c-13.559,0.182-25.013,11.195-25.013,24.049v70.211 c0,6.497,2.778,12.908,7.621,17.592c4.79,4.63,11.183,7.186,17.619,7.007h19.077c3.191,13.279,8.154,26.215,14.79,38.54 c1.447,2.689,4.21,4.218,7.065,4.218c1.283,0,2.585-0.309,3.794-0.96c3.898-2.099,5.357-6.961,3.258-10.859 c-6.947-12.902-11.854-26.526-14.584-40.493c-0.734-3.764-4.032-6.48-7.867-6.48H33.67c-0.09,0-0.18,0.001-0.269,0.004 c-2.164,0.065-4.363-0.841-6.083-2.505c-1.737-1.678-2.733-3.889-2.733-6.064V194.86c0-4.039,4.428-7.918,9.129-8.015 l42.672,0.211c2.958-0.012,5.742-1.637,7.135-4.284c12.549-23.857,32.903-46.252,57.31-63.063c2.172-1.495,3.47-3.965,3.47-6.603 V48.484l34.621,44.513c2.129,2.739,5.777,3.799,9.045,2.621c24.269-8.742,50.036-13.176,76.584-13.176 c19.71,0,39.167,2.474,57.829,7.356c4.281,1.119,8.662-1.445,9.784-5.727C333.284,79.788,330.72,75.407,326.437,74.286z"
                ></path>
              </g>
            </g>
            <g>
              <g>
                <path
                  d="M494.898,119.182c0-27.995-22.777-50.772-50.772-50.772c-4.428,0-8.017,3.589-8.017,8.017s3.588,8.017,8.017,8.017 c19.156,0,34.739,15.584,34.739,34.739c0,18.524-14.574,33.706-32.86,34.687c-18.625-26.021-44.566-47.781-75.278-63.04 c-3.968-1.972-8.778-0.354-10.748,3.612s-0.353,8.777,3.613,10.747c60.554,30.088,98.17,85.856,98.17,145.537 c0,92.792-88.469,168.282-197.211,168.282c-62.062,0-121.676-24.603-159.468-65.812c-2.994-3.262-8.065-3.482-11.327-0.49 c-3.263,2.992-3.482,8.064-0.49,11.327c13.715,14.956,30.301,28.128,48.833,38.883l11.977,59.885 c0.749,3.748,4.039,6.444,7.861,6.444h68.409c3.821,0,7.111-2.697,7.861-6.444l5.724-28.62c6.855,0.56,13.737,0.859,20.619,0.859 c12.647,0,25.127-0.951,37.333-2.804l6.113,30.564c0.749,3.748,4.039,6.444,7.861,6.444h68.409c3.821,0,7.111-2.697,7.861-6.444 l14.909-74.549c0.028-0.138,0.041-0.275,0.061-0.411c2.649-2.062,5.248-4.185,7.794-6.372 c40.566-34.846,62.904-81.279,62.904-130.744c0-28.594-7.671-56.702-22.267-82.077 C478.049,163.456,494.898,143.256,494.898,119.182z M223.775,453.211H168.51l-8.16-40.802c2.575,1.197,5.168,2.367,7.797,3.473 c18.816,7.918,39.052,13.471,59.796,16.492L223.775,453.211z M377.696,453.211h-55.265l-4.781-23.907 c25.288-5.575,49.126-15.138,70.491-28.318L377.696,453.211z"
                ></path>
              </g>
            </g>
            <g>
              <g>
                <path
                  d="M318.458,103.048c-17.388-5.962-35.525-8.985-53.906-8.985c-18.383,0-36.52,3.023-53.907,8.984 c-4.188,1.437-6.42,5.995-4.983,10.183c1.142,3.327,4.253,5.419,7.583,5.419c0.863,0,1.74-0.14,2.602-0.435 c15.71-5.387,32.097-8.118,48.706-8.118c16.608,0,32.996,2.731,48.706,8.118c4.184,1.434,8.748-0.794,10.183-4.983 C324.877,109.043,322.646,104.483,318.458,103.048z"
                ></path>
              </g>
            </g>
            <g>
              <g>
                <path
                  d="M136.551,137.353c-13.703,0-24.852,11.149-24.852,24.852c0,13.703,11.149,24.852,24.852,24.852 c13.703,0,24.852-11.149,24.852-24.852C161.403,148.501,150.254,137.353,136.551,137.353z M136.551,171.023 c-4.862,0-8.818-3.956-8.818-8.818c0-4.862,3.956-8.818,8.818-8.818s8.818,3.956,8.818,8.818 C145.37,167.067,141.414,171.023,136.551,171.023z"
                ></path>
              </g>
            </g>
            <g>
              <g>
                <path
                  d="M67.875,213.779c-4.428,0-8.017,3.589-8.017,8.017v17.102c0,4.427,3.588,8.017,8.017,8.017 c4.428,0,8.017-3.589,8.017-8.017v-17.102C75.891,217.368,72.303,213.779,67.875,213.779z"
                ></path>
              </g>
            </g>
            <g>
              <g>
                <path
                  d="M42.221,213.779c-4.428,0-8.017,3.589-8.017,8.017v17.102c0,4.427,3.588,8.017,8.017,8.017 c4.428,0,8.017-3.589,8.017-8.017v-17.102C50.238,217.368,46.65,213.779,42.221,213.779z"
                ></path>
              </g>
            </g>
            <g>
              <g>
                <path
                  d="M332.27,231.728l-68.409-34.205c-2.256-1.129-4.915-1.129-7.171,0l-68.409,34.205c-2.715,1.358-4.432,4.133-4.432,7.17 v111.165c0,4.427,3.588,8.017,8.017,8.017h51.307c4.428,0,8.017-3.589,8.017-8.017v-51.841h18.171v51.841 c0.001,4.427,3.589,8.017,8.018,8.017h51.307c4.428,0,8.017-3.589,8.017-8.017V238.898 C336.701,235.861,334.986,233.085,332.27,231.728z M320.668,342.046h-35.273v-51.841c0-4.427-3.588-8.017-8.017-8.017h-34.205 c-4.428,0-8.017,3.589-8.017,8.017v51.841h-35.273v-98.194l60.392-30.196l60.393,30.196V342.046z"
                ></path>
              </g>
            </g>
            <g>
              <g>
                <path
                  d="M358.178,214.758l-94.063-51.307c-2.394-1.306-5.284-1.306-7.679,0l-94.063,51.307c-3.886,2.12-5.319,6.99-3.198,10.876 c2.121,3.887,6.987,5.321,10.877,3.199l90.223-49.213l90.223,49.213c1.22,0.666,2.534,0.98,3.832,0.98 c2.839,0,5.589-1.511,7.045-4.179C363.495,221.747,362.064,216.877,358.178,214.758z"
                ></path>
              </g>
            </g>
            <g>
              <g>
                <path
                  d="M65.737,55.582h-6.948V33.136h17.637c4.428,0,8.017-3.589,8.017-8.017c0-4.427-3.588-8.017-8.017-8.017H58.789V8.017 C58.789,3.589,55.201,0,50.772,0c-4.428,0-8.017,3.589-8.017,8.017v9.086h-6.948c-10.314,0-18.706,8.392-18.706,18.706V52.91 c0,10.314,8.392,18.706,18.706,18.706h6.948v22.447H25.119c-4.428,0-8.017,3.589-8.017,8.017s3.588,8.017,8.017,8.017h17.637 v9.086c0,4.427,3.588,8.017,8.017,8.017c4.428,0,8.017-3.589,8.017-8.017v-9.086h6.948c10.314,0,18.706-8.392,18.706-18.706 V74.288C84.443,63.974,76.051,55.582,65.737,55.582z M42.756,55.582h-6.948c-1.474,0-2.672-1.199-2.672-2.672V35.808 c0-1.473,1.198-2.672,2.672-2.672h6.948V55.582z M68.409,91.39c0,1.473-1.198,2.672-2.672,2.672h-6.948V71.616h6.948 c1.474,0,2.672,1.199,2.672,2.672V91.39z"
                ></path>
              </g>
            </g>
            <g>
              <g>
                <path
                  d="M484.743,440.384h-6.948v-22.447h17.637c4.428,0,8.017-3.589,8.017-8.017c0-4.427-3.588-8.017-8.017-8.017h-17.637v-9.086 c0-4.427-3.588-8.017-8.017-8.017c-4.428,0-8.017,3.589-8.017,8.017v9.086h-6.948c-10.314,0-18.706,8.392-18.706,18.706v17.102 c0,10.314,8.392,18.706,18.706,18.706h6.948v22.447h-17.637c-4.428,0-8.017,3.589-8.017,8.017c0,4.427,3.588,8.017,8.017,8.017 h17.637v9.086c0,4.427,3.588,8.017,8.017,8.017c4.428,0,8.017-3.589,8.017-8.017v-9.086h6.948 c10.314,0,18.706-8.392,18.706-18.706V459.09C503.449,448.776,495.057,440.384,484.743,440.384z M461.762,440.384h-6.948 c-1.474,0-2.672-1.199-2.672-2.672V420.61c0-1.473,1.198-2.672,2.672-2.672h6.948V440.384z M487.415,476.192 c0,1.473-1.198,2.672-2.672,2.672h-6.948v-22.447h6.948c1.474,0,2.672,1.199,2.672,2.672V476.192z"
                ></path>
              </g>
            </g>
            <g>
              <g>
                <path
                  d="M65.737,440.384h-6.948v-22.447h17.637c4.428,0,8.017-3.589,8.017-8.017c0-4.427-3.588-8.017-8.017-8.017H58.789v-9.086 c0-4.427-3.588-8.017-8.017-8.017c-4.428,0-8.017,3.589-8.017,8.017v9.086h-6.948c-10.314,0-18.706,8.392-18.706,18.706v17.102 c0,10.314,8.392,18.706,18.706,18.706h6.948v22.447H25.119c-4.428,0-8.017,3.589-8.017,8.017c0,4.427,3.588,8.017,8.017,8.017 h17.637v9.086c0,4.427,3.588,8.017,8.017,8.017c4.428,0,8.017-3.589,8.017-8.017v-9.086h6.948 c10.314,0,18.706-8.392,18.706-18.706V459.09C84.443,448.776,76.051,440.384,65.737,440.384z M42.756,440.384h-6.948 c-1.474,0-2.672-1.199-2.672-2.672V420.61c0-1.473,1.198-2.672,2.672-2.672h6.948V440.384z M68.409,476.192 c0,1.473-1.198,2.672-2.672,2.672h-6.948v-22.447h6.948c1.474,0,2.672,1.199,2.672,2.672V476.192z"
                ></path>
              </g>
            </g>
          </g></svg
        >
      </i>
      <h3
        class="w-full border-b border-white font-medium tracking-wide text-lg"
      >
        Caja
      </h3>
    </div>
    <StatsDeMontos
      capital={capital}
      pagosCobrados={pagosCobrados}
      cuotasInpagas={cuotasInpagas}
      totalConIntereses={totalConIntereses}
    />
  </div>
  <div class="flex flex-col h-full items-center gap-3">
    <Stat>
      <h3 class="font-medium">Pagos</h3>
      <label for="inputDate">
        <InputDate client:load />
      </label>
      <span class="font-black text-lg">$2200</span>
    </Stat>
  </div>
</ArticleDash>


<!-- <script src="../../../lib/formulas/calcularCuotasPeriodo.js"></script> -->
