---
const { options, name, labelOption, defaultSelect } = Astro.props;
---

<select
  name={name}
  id={name}
  class={`${"style"} w-full text-sm bg-primary-200/10 group-hover:ring-2 rounded-lg  border-gray-300  ring-primary-200/60 focus:ring-2  outline-none transition-colors duration-200 ease-in-out px-2 py-2`}
>
  {
    defaultSelect ? (
      <option selected value={options[0].value} id={options[0].id}>
        {options[0].name || options[0].value}
      </option>
    ) : (
      <option selected disabled class="">
        Seleccionar...
      </option>
    )
  }
  {
    defaultSelect
      ? options.slice(1).map((opcion) => {
          return (
            <option value={opcion.value} id={opcion.id} class="">
              {opcion.name || opcion.value} {labelOption && labelOption}
            </option>
          );
        })
      : options.map((opcion) => {
          return (
            <option value={opcion.value} id={opcion.id} class="">
              {opcion.name || opcion.value} {labelOption && labelOption}
            </option>
          );
        })
  }
</select>
