---
import { db } from "astro:db";
import LayoutClient from "../LayoutClient.astro";
import ComprobantePago from "./ComprobantePago.astro";
import { eq } from "astro:db";
import { Pago } from "astro:db";
import { User } from "astro:db";
import { Cliente } from "astro:db";
import Button1 from "@/components/atomos/Button1.astro";
import ButtonPdf from "@/components/atomos/ButtonPdf";
const { idCliente } = Astro.params;

const { idPago } = Astro.params;

let dataPago = {};
try {
  dataPago = (
    await db
      .select({
        usuario: {
          userName: User.userName,
          src: User.srcPhoto,
          nombre: User.nombre,
          apellido: User.apellido,
          dni: User.dni,
          direccion: User.direccion,
          provincia: User.ciudad,
          celular: User.celular,
        },
        cliente: {
          id: Cliente.id,
          nombre: Cliente.nombre,
          apellido: Cliente.apellido,
          dni: Cliente.dni,
          direccion: Cliente.direccion,
          ciudad: Cliente.ciudad,
          celular: Cliente.celular,
        },
        pago: Pago,
      })
      .from(Pago)
      .where(eq(Pago.id, idPago))
      .innerJoin(User, eq(User.id, Pago.usuarioId))
      .innerJoin(Cliente, eq(Cliente.id, Pago.clienteId))
  ).at(0);
  // console.log(dataPago)
} catch (error) {
  console.log(error);
}
---

<LayoutClient dataPago={dataPago}>
  <div id='idPago' data-idPago={dataPago?.pago?.id} class="flex flex-col w-full items-center justify-center gap-3">
    <div class="flex items-center justify-normal gap-5">
      <div class="cursor-pointer">
     <Button1 id="btnComprobantePago">pdf</Button1>
      </div>
      <Button1 id="imprimir">imprimir</Button1>
    </div>
    <div class="items-center flex justify-center">
      <ComprobantePago infoData={dataPago} />
    </div>
  
  </div>
</LayoutClient>

<script>
  document.getElementById("imprimir").addEventListener("click", () => {
    print();
  });


const divIdPago=document.getElementById('idPago')
const {idpago}=divIdPago.dataset


const btnCompantePago=document.getElementById('btnComprobantePago')


btnCompantePago.addEventListener('click',async ()=>{
 
 console.log(idpago)
  try {
    const fetching=await fetch(`/api/report/pagos/${idpago}`)


    const blob = await fetching.blob();
      const url = window.URL.createObjectURL(blob);
      const a = document.createElement('a');
      a.href = url;
      a.download = 'prestamos_report.pdf';
      a.click();

    } catch (error) {
      console.log("Error al generar PDF:", error);
    }
})

</script>
