---
import MainDash from "../../../../components/organismos/MainDash.astro";
import Layoutdash from "../../layouts/Layoutdash.astro";
import ContenedorStats from "../../../../components/organismos/ContenedorStats.astro";
import Button2 from "../../../../components/atomos/Button2.astro";
import TablaIdPrestamo from "./tablas/ConfeccionTablaCuota.astro";
import BotoneraOpcionesLista from "./BotoneraOpcionesLista.astro";

const { idPrestamo } = Astro.params;
let prestamo = {};
let cliente = {};
let fechaFormateada = "";
let cuotas = [];

export const formatHora = (date) => {
  const fecha = new Date(date);
  const año = fecha.getFullYear();
  const mes = fecha.getMonth() + 1; // getMonth() devuelve un índice basado en 0, por lo que se suma 1
  const dia = fecha.getDate();
  return (
    (dia < 10 ? "0" + dia : dia)
    +"-" +
    (mes < 10 ? "0" + mes : mes) +
    "-" +
    año 
  );
};

try {
  const res = await fetch(`${Astro.url.origin}/api/prestamos/${idPrestamo}`);
  const data = await res.json();
  prestamo = await data?.data.prestamo.Prestamo;
  cliente = await data?.data.prestamo.Cliente;
  cuotas = await data?.data.cuotas;
  // console.log(cuotas)
} catch (error) {
  console.log(error);
}


---

<Layoutdash title={cliente?.nombre + " " + cliente?.apellido + " prestamo"}>
  <MainDash>
    <div
      class="flex flex-col items-start bg-0 justify-normal w-full px-5 py-2 relative"
    >
      <ContenedorStats
        prestamo={prestamo}
        cliente={cliente}
        fechaFormateada={formatHora(prestamo?.fechaInicio)}
      />
      <div class="w-full bg- flex flex-col mt-4 items-center justify-normal">
        <BotoneraOpcionesLista />
        <div class="w-2/3 mb-5">
          <TablaIdPrestamo />
        </div>
      </div>
    </div>
  </MainDash>
</Layoutdash>
